<!-- Footer -->

<footer class="page-footer font-small indigo">
    <!--Footer list-->
    <div class="container" style="text-align:center; margin-top:50px">
        <table class="table table-dark">
            <thead>
                <tr> Developer name : </tr>
                <tr> Hasif, Hazirah, Helmi, Fatini, Fitri,Anis</tr>
            </thead>

        </table>
    </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="margin:30px; color:aquamarine">© 2018 Copyright:
    <a href="https://nurbxfit.github.io/"> usm-event</a>
  </div>
  <!-- Copyright -->

</footer>

<!-- Footer -->