{{#if isLogin}}
{{>navbarprofile}}
{{else}}
{{>navbar}}
{{/if}}

<div class="container" style="color:white;margin-top:50px">
    <h1>About</h1>
    <p1>Testing Website</p1>
    <p>Website Under Contsruction <br> Still in Development</p>
</div>