
{{>navbar}}
<!--Event List Card-->
<div class="container-fluid">
    <br>
    <h2 style="color:whitesmoke; text-align:center; margin-top:50px;">
        USM Events
    </h2>
    <p style="color:whitesmoke; text-align:center; margin-bottom:40px">
        Click cards below to find more about the event.
    </p>

<!--addevent-->
    <div class="container" style="margin-top:10px">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Add New Event</h5><br>
                <a href="/addevent" width="30%" height="auto"><img width="10%" height="10%" src="/images/addicon.png" alt="addEvent" ></a><br></br>
                <a class="btn btn-primary" style="width:auto; padding-right:40px; padding-left: 40px; border-radius:20pt" href="/organiser/addevent">Add New Event</a>
            </div>
        </div>
    </div>

<!--event list-->

    <div class="row" style="text-align:center;" >
        {{#each titleArray}}
        <div class="col-sm-6" style="margin-top:10px">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{description}}</p>
                    <a href="#" class="btn btn-primary">Find out more</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
